body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
    background-image: url(./Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 150px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
h1{
    font-size: 50px;

}
h1 span{
    color: blueviolet;
}
.half-width img{
    width: 90%;
}
.button-link{
    text-decoration: none;
    background-image: linear-gradient(45deg ,blueviolet , blue);
    padding: 10px 40px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
}
.second-section{
    background-image: url(Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-position: right;
}